@import "../../assets/styles/variables.scss";

.table {
    background-color: white;
    padding: 14px 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #f9f2fb;
    border-collapse: collapse;

    &__row {
        display: grid;
        grid-template-columns: 200px 90px 85px 1fr auto;
        column-gap: 30px;
        justify-items: start;
        padding: 14px 20px;
        border: none;
        border-bottom: 1px solid $light-gray;
        transition: 0.25s background-color ease-in-out;

        &:hover {
            background-color: $light-purple;
        }
    }
}

@media screen and (max-width: 768px) {
    .table {
        background-color: transparent;
        box-shadow: none;

        &__header {
            display: none;
        }

        &__body {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
        }

        &__row {
            background-color: white;
            box-shadow: 0px 0px 20px #f9f2fb;
            border-radius: 10px;
            grid-template-columns: 2fr 1fr 1fr;
            row-gap: 25px;
            border-bottom: none;
        }
    }
}

@media screen and (max-width: 550px) {
    .table {
        font-size: 14px;

        &__row {
            grid-template-columns: repeat(2, 1fr);
            row-gap: 15px;
        }
    }
}
