@import "../../assets/styles/variables.scss";

.table {
    background-color: white;
    padding: 14px 0px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px #f9f2fb;
    border-collapse: collapse;

    &__header {
    }

    &__row {
        display: grid;
        grid-template-columns: 200px 90px 85px 1fr auto;
        column-gap: 30px;
        justify-items: start;
        padding: 14px 20px;
        border: none;
        border-bottom: 1px solid $light-gray;
        transition: 0.25s background-color ease-in-out;

        &:hover {
            background-color: $light-purple;
        }

    }
}
