@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import './variables.scss';

:root {
    font-family: "Roboto", sans-serif;
}

html {
    overflow-x: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
}

.layout {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $extra-light-purple;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
}
