@import "../../assets/styles/variables.scss";

.button {
    transition: 0.15s background-color ease-in-out;
    cursor: pointer;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px 40px;
    display: flex;
    column-gap: 10px;
    background-color: white;
    justify-content: center;
    height: fit-content;

    &:hover {
        color: white;

        .icon {
            filter: brightness(0) saturate(100%) invert(100%);
        }
    }

    &_style_primary {
        border-color: $purple;
        background-color: $light-purple;

        &:hover {
            background-color: $purple;
        }
    }

    &_style_edit {
        border-color: $styled_orange;

        &:hover {
            background-color: $styled_orange;
        }
    }

    &_style_delete {
        border-color: $styled_red;

        &:hover {
            background-color: $styled_red;
        }
    }
    &_style_accept {
        border-color: $styled_green;

        &:hover {
            background-color: $styled_green;
        }
    }
}
